body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdf7f2;
    margin: 0;
    padding: 20px;
}

.Shopping-Header{
    text-align: center;
    font-size: 20px;
}
.Shopping-Header img{
    transform: scale(0.7);
}
.Shopping-Header h2{
    margin-top: -28px;
    color: #6F4835;
}

.cart {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #8B623C;
}

.Qun-Pri{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
}

.cart-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.product-details {
    flex: 1;
    margin-left: 30px;
    max-width:400px;
    margin-right: 50%;
    color: #6F4835;
}
.product-details h4{
    font-weight: normal;
    width: 300px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #6E4835;
}

.quantity-controls input {
    width: 25px;
    text-align: center;
    border: none;
    background-color: #fdf7f2;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: #6E4835;
    background-color: #fdf7f2;
    margin-right: 100px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #6E4835;
}


.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.delete-btn img {
    width: 20px; 
    height: 20px;
    object-fit: contain;
    display: block;
}


    .price {
        color: #6E4835;
        max-width: 19px;
    }

/* For screens up to 820px */
@media (max-width: 820px) {
    .cart-container {
        overflow-x: hidden;
    }
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0;
        font-size: 18px;
        margin-left: 100%; 
    }
    .actions {
        margin-right: 50px;
    }
    .cart-item img {
        transform: scale(0.7);
    }
    .cart-header {
        width: 105%;
    }
}

/* For screens between 821px and 1024px */
@media (min-width: 821px) and (max-width: 1024px) {
    .cart-container {
        overflow-x: hidden;
    }
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0;
        font-size: 18px;
        margin-left: 60%;
    }
    .actions {
        margin-right: 50px;
    }
    .cart-item img {
        transform: scale(0.7);
    }
    .cart-header {
        width: 105%;
    }
}
