body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdf7f2;
    margin: 70px;
    margin: 0;
}

/* Nav edited */
.nav {
  z-index: 999;
  width: 98%;
  background-color: #ECD3BE;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 50px;
}
.nav .right {
  margin-right: 25px;   
}
.nav .right img{
  transform: scale(1.3);
}
.nav .left {
margin-left: 25px;
}

.nav .left, .nav .right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 60px;
  margin-bottom:40px ;
}

.nav .center img {
  height: auto;
  margin-top: 40px;
}

/* Underline */
.nav a {
  color: #6E4835;
  font-size: 23px;
  font-weight: normal;
  text-decoration: none;
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0; 
  height: 2px; 
  background-color: #6E4835; 
  transition: width 0.5s ease; 
}

.nav a:hover::after {
  width: 50%; 
}

.nav button {
  background: none;
  border: none;
  color: #fdf8f0;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav button:focus {
  outline: none;
}

.nav .menu-toggle {
  display: none;
}

/* Mobile Updated */
.menu-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.search-and-profile {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

.search-input {
  width: 100px;
  opacity: 1;
  transition: width 0.4s ease, opacity 0.3s ease, background-color 0.3s ease;
  padding: 0;
  border: 1px solid transparent;
  background-color: #ffffff;
  color: #333;
  outline: none;
  border-radius: 20px;
  /* font-size: 16px; */
  /* margin-left: 10px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
}

.search-input.active {
  width: 250px;
  opacity: 1;
  padding: 8px 15px;
  border: 1px solid #8B623C;
  background-color: #f0e6d6;
  color: #8B623C;
}
.search-and-profile.active #search-input {
  width: 100%;
  opacity: 1;   
}

.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.1);
}

.mobile-menu {
  display: none; 
  background-color: #e0c1ac;
  position: fixed;
  inset: 0;
  z-index: 40;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; 
  transform: translateX(-100%); 
}

.closeandsearchandpp {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchandpp {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-menu a {
  border-bottom: 1px solid #cda78f;
  padding: 10px 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  color: #6E4835;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.mobile-menu img {
  height: 32px;
  width: 32px;
}

.mobile-menu button {
  font-size: 1.5rem;
  align-self: flex-end;
}

.menu-header .search-and-profile img:first-child {
  border-bottom: none;
}

.mobile-menu.open {
  display: flex;
  transform: translateX(0);
}

/* Cart Container */
.Cart-Container{
  width: 100%;
  margin: 0;
}

.Shopping-Header {
  text-align: center;
  margin-left: -60px;
  font-size: 20px;
}

.Shopping-Header img{
    transform: scale(0.7);
}

.Shopping-Header h2{
    margin-top: -28px;
    color: #6F4835;
}

.cart {
    max-width: 90%;
    margin-left: 60px;
    /* padding: 20px; */
}

.cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    color: #8B623C;
    font-size: 20px
}

.Qun-Pri {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  margin-right: 90px;
}

.TrashPrice{
display: flex;
align-items: center;
gap: 40px;
margin-left: 75%;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 0px;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    
}

.cart-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 39px;
}

.product-details {
  flex: 1;
  margin-left: 50px;
  max-width: 280px;
  margin-right: 50%;
  color: #6F4835;
}

.product-details h4 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #6F4835;
  font-weight: normal;
  width: 300px;
  margin: 0;
}

.product-details p{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  width: 500px;
  color: #7a4b1f;
  font-size: 15px;
}

.quantity-controls button {
    background: none;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #6E4835;
    font-size: 22px;
}

.quantity-controls input {
    width: 20px;
    text-align: center;
    border: none;
    background-color: #fdf7f2;
    font-size: 25px;
    color: #6F4835;
}

.actions {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
  color: #6E4835;
  background-color: #fdf7f2;
}

.quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #6E4835;
    border-radius: 15px;
}
.TrashPrice .price {
  font-size: 25px;
  font-weight: 500;
  color: #6F4835;
  width: 76px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 0;
}

.delete-btn i {
transform: scale(1.6);
}

    .border{
        border-bottom: 1px solid #8B623C; 
        width: 103%; 
        margin-bottom: 10px;
        margin-top: 20px;
        opacity: .6;
    }
    .border-header{
      width: 103%;
      border: 1px solid #8B623C;
      margin-top: 15px;
      margin-bottom: 10px;
      opacity: .6;
    }
    .border-bottom {
      width: 103%;
      border-bottom: 1px solid #8B623C;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 0.6;
    }
    

    .promo-subtotal-container {
        width: 103%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        color: #8B623C;
        font-size: 20px;
        height: 100px;
    }

      .promo-code-section {
        flex: 1;
        /* margin-top: -15px; */
        display: block;
        font-size: 20px;
    }
    .promo-header{
      margin: 0;
    }
    
    .promo-input {
        max-height: 0px; 
        overflow: hidden; 
        opacity: 0; 
        display: flex; 
        flex-direction: column; 
        gap: 10px;
        transition: max-height 0.3s ease, opacity 0.3s ease;
      }
      
      .promo-input.show {
        max-height: 100px;
        width: 300px;
        opacity: 1;
        margin-bottom: 40px;
    }

    .promo-toggle-btn i {
        font-size: 1.5rem; 
        color: #8B623C;  
        transition: transform 0.3s ease; 
      }
      
      .promo-toggle-btn i.rotate {
        transform: rotate(180deg); 
      }


    #promo-code{
        width: 200px;
        padding: 5px 10px;
        border: 1px solid #7a5948;
        border-radius: 20px;
        background-color: #fdf7f2;
        color: #6E4835;
        margin-right: 10px;
        transition: width 0.3s ease;
    }
    .promo-input.show button{
        width: 70px;
        background-color: #8B623C;
        color: #fdf7f2;
        border: none;
        border-radius: 20px;
        padding: 5px ;
        text-align: center;
    }
      
      .promo-feedback {
        font-size: 0.9rem;
        margin-top: 5px;
      }
      .promo-toggle-btn{
        background: none ;
        border:none;
        color: #8B623C;
      }

      #subtotal{
        color: #6E4835;
      }
      
      .subtotal-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .subtotal-Price{
        display: flex;
        gap: 25px;
        color: #805f4f;
        align-items: center;

      }
      #sub{
        color: #6E4835;
        font-weight: 500;
        font-size: 25px;
      }
      #subtotal{
        opacity: .6;
        font-size: 22px;
      }

      
      .checkout-btn {
        margin-top: 10px;
        padding: 10px 55px;
        background-color: #E0C1AC;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
      }
      
      .checkout-btn:hover {
        background-color: #6F4835;
      }
      /* Recent Cart viewd Section  */

.Recents{
  margin-left: 20px;
}

.Recents-section{
  margin-left: 50px;
  margin-right: 50px;
}
.Recents-section img{
  transform:scale(0.7) ;
}
.Recents-section h2{
  margin-top: -30px;
  color: #8B623C;
  font-size: 27px;
  font-weight: bold;
}


.recently-viewed-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.Recent-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf6f2;
  border-radius: 25px;
  padding: 15px;
  width: 300px;
  text-align: center;
  height: 300px;
  overflow: hidden;
}

.Recent-Cart-Image img {
  height: auto;
  border-radius: 8px;
}

.Recent-Cart-Image h4 {
  position: absolute;
  bottom: -30%;
  margin-bottom: 25px;
  left: 50%;
  bottom: 100;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: #fdf6f2;
  background-color: #E0C1AC;
  width: 100%;
  text-align: center;
  padding: 45px;
  font-weight: normal;
  font-style: initial;
  text-transform: uppercase;
}


.Recent-Add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.Recent-Add-to-cart p {
  font-size: 14px;
  margin: 0;
  color: #333;
  border-left: 1px solid #fff;
  background-color: #E0C1AC;
  color: #fdf6f2;
}

.Recent-Add-to-cart button {
  background-color: #E0C1AC;
  color: #fdf6f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 7px;
}

.add-to-cart-btn .add-to-cart-price {
  border-left: 1px solid #fdf6f2;
  padding-left: 15px;
  padding-top: 5px;  
  padding-bottom: 10px; 
}

/* cart btn */
.add-to-cart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E8D5C8;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-width: 150px;
  max-height: 32px;
}

.add-to-cart-btn:hover {
  background-color: #dcc5b7;
}

.add-to-cart-text {
  font-weight: normal;
  font-family: 'Montserrat';
}

.add-to-cart-btn .add-to-cart-price {
  border-left: 1px solid #fdf6f2;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Checkout */
/* Modal background */
.modal {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  margin: auto;
  color: #764C25;
  background-color: #ECD3BE;
  padding: 20px;
  border-radius: 35px;
  text-align: center;
  position: relative;
  top: 30%;
}
.modal-content h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #6E4835;
}

label {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  color: #6E4835;
  font-weight: normal;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}

.row-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row1,.row2{
  width: 100%;
}

.expiry-inputs {
  display: flex;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #FDF8F0;
  color: #C5A491;
}
input::placeholder {
  color: #C5A491;
  font-weight: normal;
  border: none; 
}

.row3 {
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  padding: 10px 15px;
  background-color: #FDF8F0;
  /* font-weight: 200; */
  color: #C5A491;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 200px;
  font-family: 'Montserrat';
}

.expiry-inputs input {
  width: 100%;
  background-color: #FDF8F0;
  color: #C5A491;

}

.expiry-inputs {
  display: flex;
  gap: 10px;
}

.expiry-inputs select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FDF8F0; 
  font-size: 14px;
  color: #C5A491; 
  width: 100%;
  cursor: pointer;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  text-align: center; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23C5A491" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.expiry-inputs select:hover,
.expiry-inputs select:focus {
  border-color: #C5A491;
  outline: none;
}

.expiry-inputs input {
  background-color: #FDF8F0;
  color: #C5A491;
}


/* Small screens */      
@media (min-width: 430px) and (max-width:768px)  {

    body{
      margin: 0;
    }

    /* Mobile menu */
    .mobile-menu a {
      border-bottom: 1px solid #cda78f;
      padding: 10px 10px;
      width: 50%;
      margin: auto;
      text-align: center;
      margin-top: 0;
      color: #6E4835;
      font-size: 30px;
      font-weight: normal;
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }

    .menu-links a{
      margin-top: 50px;
    }

    .search-input{
      display: none;
    }

    .nav {
      width: 108%;
      background-color: #ECD3BE;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      margin-bottom: 50px;
    }

    .nav .menu-toggle {
        display: inline;
        transform: scale(1.5);
    }

    .nav .left a, .nav .right a {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .Cart-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

      .cart-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

      .cart {
      /* max-width: 100%; */
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      /* margin: auto; */
    }
      .Shopping-Header {
      text-align: center;
      font-size: 20px;
      margin-left: 30px;
      }

      .Shopping-Header img{
        transform: scale(0.6);
      }

      .cart-header {
        display: none;
      }
      .cart-item img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 39px;
      margin: auto;
      }

    .product-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin: auto;
      /* width: fit-content; */
    }
    .product-details p {
      font-weight: normal;
      width: 280px;
    }
    .product-details h4 {
      font-weight: normal;
      width: 260px;
    }

    .actions {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-between;
      color: #6E4835;
      background-color: #fdf7f2;
    }
    .quantity-controls{
      margin-left: -50px;
    }
    .TrashPrice {
      display: flex;
      align-items: center;
      gap: 30px; 
      margin-left: 40px;
    }

    .promo-subtotal-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: #8B623C;
      font-size: 20px;
    }

    .Recents-section {
      text-align: center;
      margin-top: 130px;
      max-width: 120%;
      /* margin-left: 50px; */
      /* margin: auto; */
      /* padding: 20px; */
  }
    .recent-item{
      margin: auto;
      margin-bottom: 20px;
    }

    .promo-input.show {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      opacity: 1;
      /* margin-bottom: 40px; */
    }

    .promo-header{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #FDF7F2;
      padding: 10px;
      border-radius: 5px;
      color: #6E4835;
      font-size:20px;
    }

    .promo-input {
    overflow: hidden;
    opacity: 0;
    display: flex;
    gap: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .recently-viewed-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
      width: 100%;
    }
    .row-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
    }
  .modal-content {
    width: 50%;
    margin: auto;
    color: #764C25;
    background-color: #ECD3BE;
    padding: 20px;
    border-radius: 35px;
    text-align: center;
    position: relative;
    top: 30%;
}
}
/* Ipad Air */
@media ((min-width: 820px) and (max-width:1023px)) {

  .mobile-menu a {
    border-bottom: 1px solid #cda78f;
    padding: 10px 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 0;
    color: #6E4835;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  .menu-links a{
    margin-top: 50px;
  }

  .search-input{
    display: none;
  }

  .nav {
    width: 96%;
    background-color: #ECD3BE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 50px;
  }

  .nav .menu-toggle {
      display: inline;
      transform: scale(1.5);
  }

  .nav .left a, .nav .right a {
      display: none;
  }

  .mobile-menu {
      display: flex;
  }

  .Shopping-Header {
    text-align: center;
    font-size: 20px;
    width: 106%;
  }

  .Cart-Container {
    width: 100%;
    margin-left: -50px;
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 106%;
    color: #8B623C;
    font-size: 20px;
  }

  .border-header {
    width: 108%;
    border: 1px solid #8B623C;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: .6;
  }

  .border-bottom {
    width: 108%;
    border-bottom: 1px solid #8B623C;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
  }

  .quantity-controls {
    width: 110px;
    margin-bottom: 25px;
  }

  .border {
    border-bottom: 1px solid #8B623C;
    width: 108%;
    margin-bottom: 10px;
    margin-top: 20px;
    opacity: .6;
  }

  .product-details {
    flex: 1;
    margin-left: 20px;
    max-width: 100px;
    margin-right: 50%;
    color: #6F4835;
    margin-bottom: -70px;
  }

  .product-details h4 {
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #6F4835;
    font-weight: normal;
    width: 0px; 
    margin: 0px;
  }

  .product-details p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 385px;
    color: #7a4b1f;
    font-size: 17px;
    margin-top: 25px;
  }

  .actions {
    display: flex;
    align-items: center;
    width: 0px;
    justify-content: space-between;
    color: #6E4835;
    background-color: #fdf7f2;
  }

  .TrashPrice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
  }

  .quantity-controls {
    width: 110px;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 0px;
    width: 30%;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .Recents-section{
    width: 90%;
  }

  .recently-viewed-section {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    flex-wrap: wrap;
    margin: auto;
    width: 105%;
  }

  .Recents-section {
    margin-left: 70px;
    margin-right: 50px;
  }

  .recent-item{
    margin-bottom: 10px;
  }

  .Qun-Pri {
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 155px;
  }

  .modal-content {
    width: 70%;
    height: 30%;
    margin: auto;
    color: #764C25;
    background-color: #ECD3BE;
    padding: 20px;
    border-radius: 35px;
    text-align: center;
    position: relative;
    top: 30%;
  }

  .promo-subtotal-container {
    width: 106%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #8B623C;
    font-size: 20px;
    height: 100px;
  }

}