/* Base Styles */
.login-container {
    background: #fff;
    padding: 60px;
    font-family: "Montserrat", sans-serif;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-image: url(image.png);
    background-position: center;
    background-size: cover;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 41px;
    margin-top: 0;
    text-align: left;
    color: #8B623C;
}

.login-container .form-group {
    margin-bottom: 1rem;
    text-align: left;
    margin-top: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #8B623C;
    font-size: 20px;
    text-wrap: nowrap;
}

.login-container input {
    width: 92%;
    padding: 20px;
    border: 1px solid #8B623C;
    border-radius: 5px;
    background: none;
    font-size: 1rem;
    transition: all 0.5s;
}

.login-container input:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.row {
    display: flex;
    max-width: 800px;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.login-container .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 20px;
}

.login-container #lost-password {
    color: #E0C1AC;
    text-decoration: none;
    font-size: 15px;
}

.login-container #lost-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    color: #6F4835;
    background-color: #E0C1AC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #cfb29e;
}

.username {
    color: #6F4835;
}

.orsign {
    color: #8B623C;
}

.account {
    color: #C5A491;
}

.signup {
    color: #8B623C;
    font-size: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        padding: 40px;
        width: 85%;
    }

    .login-container h1 {
        font-size: 35px;
    }

    .login-container input {
        width: 87%;
        padding: 15px;
    }

    .row {
        flex-direction: column;
        gap: 20px;
    }

    .login-button {
        width: 100%;
    }
    .login-container .image-big{
       display: none;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        border-radius: 20px;
    }

    .login-container h1 {
        font-size: 28px;
        text-align: center;
    }
    

    .login-container label {
        font-size: 16px;
    }

    .login-button {
        width: 100%;
        padding: 8px;
    }

    .login-container .form-options {
        /*! flex-direction: column; */
        align-items: flex-start;
        gap: 10px;
    }
}
