@font-face {
  font-family: "The Billion";
  src: url("/public/fonts/the_billion/The\ Billion.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Embarcadero MVB Pro";
  src: url("/public/fonts/Embarcadero MVB Pro/fonnts.com-Embarcadero_MVB_Pro_Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("/public/fonts/Montserrat Medium/FontsFree-Net-Montserrat-Medium.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,500;1,900&display=swap");
/* Horizontal divider */
.horizontal-divider {
  width: 100%;
  border-top: 1px solid black;
  margin: 40px 0;
}

/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  background-color: #fdf8f0;
  color: #5a322e;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 15%;
  min-width: 180px;
  margin-bottom: 20px;
  /*! align-content: end; */
  /*! justify-content: left; */
}

.footer-column h3 {
  font-weight: 700;
  margin-bottom: 1px;
}

.footer-column a {
  text-decoration: none;
  color: #5a322e;
  font-weight: 400;
}

.footer-column a:hover {
  text-decoration: underline;
}

.newsletter .input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #c5a491;
  border-radius: 12px;
  background-color: #fdf8f0;
}

.newsletter input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #5a322e;
  background-color: #fdf8f0;
  flex: 1;
}

.newsletter button {
  padding: 8px 16px;
  border: none;
  background-color: #c5a491;
  color: white;
  font-size: 14px;
  border-radius: 11px;
  cursor: pointer;
  width: 104px;
}

.newsletter button:hover {
  background-color: #b89584;
}

.social-section {
  margin-top: 1px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .footer {
    padding: 30px 60px;
  }
}

@media (max-width: 768px) {
  .footer-column {
    flex: 1 1 45%;
    min-width: 200px;
  }
  .newsletter {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 40px;
  }
  .footer-column {
    flex: 1 1 100%;
    min-width: auto;
  }
  .newsletter {
    margin-top: 20px;
  }
  .social-icons {
    justify-content: flex-start;
  }
}
