@font-face {
  font-family: "The Billion";
  src: url("/public/fonts/the_billion/The\ Billion.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Embarcadero MVB Pro";
  src: url("/public/fonts/Embarcadero MVB Pro/fonnts.com-Embarcadero_MVB_Pro_Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("/public/fonts/Montserrat Medium/FontsFree-Net-Montserrat-Medium.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,500;1,900&display=swap");
.frame-2,
.frame-2 * {
  box-sizing: border-box;
}
.frame-2 {
  height: 869px;
  position: relative;
}
.fragrance-one {
  color: #8b623c;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 672px;
  top: 354px;
}
.fragrance-two {
  color: #8b623c;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 672px;
  top: 492px;
}
.blend-notes-or-naming {
  color: #8b623c;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 669px;
  top: 641px;
}
.rectangle-77 {
  border-radius: 0px;
  width: 664px;
  height: 42px;
  position: absolute;
  left: 672px;
  top: 691px;
  overflow: visible;
}
.create-your-candle {
  color: #c5a491;
  text-align: left;
  font-family: "TheBillion-Regular", sans-serif;
  font-size: 74px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 616px);
  top: 0px;
  width: 611px;
  height: 57px;
  -webkit-text-stroke: 0.5px #dbcec0;
}
.customization {
  color: #8b623c;
  text-align: left;
  font-family: "EmbarcaderoMvbPro-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.08em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 489px);
  top: 91px;
  width: 358px;
  height: 57px;
}
.jar-size {
  color: #8b623c;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 671px;
  top: 209px;
}
.rectangle-179 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 672px;
  top: 408px;
}
.rectangle-772 {
  background: #e0c1ac;
  border-radius: 10px;
  align-self: stretch;
  flex-shrink: 0;
  height: 42px;
  position: relative;
}
.rectangle-184 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 672px;
  top: 546px;
}
.rectangle-180 {
  background: #fdf8f0;
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 808px;
  top: 408px;
}
.rectangle-185 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 808px;
  top: 546px;
}
.rectangle-182 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 1080px;
  top: 408px;
}
.rectangle-186 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 1080px;
  top: 546px;
}
.rectangle-181 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 944px;
  top: 408px;
}
.rectangle-187 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 944px;
  top: 546px;
}
.rectangle-183 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 1216px;
  top: 408px;
}
.rectangle-188 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 124px;
  position: absolute;
  left: 1216px;
  top: 546px;
}
.vanilla {
  color: #6f4835;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 698px;
  top: 417px;
  width: 72px;
  height: 22px;
}
.lemon {
  color: #6f4835;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 698px;
  top: 557px;
  width: 75px;
  height: 22px;
}
.musk {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 840px;
  top: 418px;
  width: 61px;
  height: 22px;
}
.patchouli {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 819px;
  top: 556px;
  width: 105px;
  height: 22px;
}
.gardenia {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 957px;
  top: 419px;
  width: 99px;
  height: 22px;
}
.oud {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 984px;
  top: 556px;
  width: 46px;
  height: 22px;
}
.raspberry {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1086px;
  top: 419px;
  width: 112px;
  height: 22px;
}
.wood {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1109px;
  top: 556px;
  width: 65px;
  height: 22px;
}
.other {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1247px;
  top: 419px;
  width: 71px;
  height: 22px;
}
.other2 {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1247px;
  top: 557px;
  width: 71px;
  height: 22px;
}
.please-write-here {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 687px;
  top: 702px;
}
._1 {
  color: #8b623c;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 722px;
  top: 802px;
  width: 15px;
  height: 45px;
}
.group-77 {
  position: absolute;
  inset: 0;
}
.rectangle-72 {
  background: #e0c1ac;
  border-radius: 10px;
  width: 282.82px;
  height: 42px;
  position: absolute;
  left: 1053px;
  top: 797px;
}
.add-to-cart {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 1089px;
  top: 808px;
  width: 102px;
}
._8 {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 1266.18px;
  top: 808px;
  width: 51.16px;
  height: 23px;
}
.line-31 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fdf8f0;
  border-width: 1px 0 0 0;
  width: 42px;
  height: 0px;
  position: absolute;
  left: 1224px;
  top: 797px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-208 {
  background: #e0c1ac;
  border-radius: 7px;
  width: 33px;
  height: 32px;
  position: absolute;
  left: 752px;
  top: 807px;
}
.rectangle-209 {
  background: #e0c1ac;
  border-radius: 7px;
  width: 33px;
  height: 32px;
  position: absolute;
  left: 672px;
  top: 807px;
}
.div {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 762px;
  top: 869px;
  width: 25px;
  height: 77px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.div2 {
  color: #fdf8f0;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 681px;
  top: 847px;
  width: 25px;
  height: 77px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.introducing-our-newest-addition-to-the-serenity-family-take-a-look-into-our-new-jars-with-3-different-sizes-list-of-scents-are-available-in-our-highlights-alongside-the-prices-serenitylb-ecofriendly-handmadec-1 {
  border-radius: 44px;
  width: 609px;
  height: 626px;
  position: absolute;
  left: 0px;
  top: 212px;
  object-fit: cover;
}
.group-190 {
  position: absolute;
  inset: 0;
}
._180-g {
  color: #e0c1ac;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 835px;
  top: 281px;
  width: 66px;
  height: 22px;
}
.ellipse-14 {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 809px;
  top: 287px;
}
.ellipse-6 {
  background: #e0c1ac;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-189 {
  position: absolute;
  inset: 0;
}
._100-g {
  color: #e0c1ac;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 704px;
  top: 281px;
  width: 66px;
  height: 22px;
}
.ellipse-142 {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 672px;
  top: 287px;
}
.group-191 {
  position: absolute;
  inset: 0;
}
._350-g {
  color: #e0c1ac;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 967px;
  top: 281px;
  width: 73px;
  height: 22px;
}
.ellipse-7 {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 940px;
  top: 287px;
}
